
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --color-primario: #D8DFE8;
    --color-secundario: #0A3871;
    --color-terciario: #9B9797;
    --color-hover: #343A40;
    --color-white: #FFFFFF;

    --fuente-monserrat: 'Montserrat', sans-serif;
    --fuente-krona: 'Krona One', sans-serif;
    --fuente-inter: 'Inter', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fuente-inter);
    }

body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.header{
    padding: 1% 0% 0% 5%;
}

.header_logo{
    width: 2%;
}

.header_menu_link{
    
    font-size: 27px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-terciario);
}

.titulo_destaque{
    color: var(--color-terciario);
}

.presentacion{
    display: flex;
    justify-content: center;
    margin: 2% 2%;
    gap: 80px;
    padding: 3rem;
}

.presentacion_contenido{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion_contenido_titulo{
    font-size: 2rem;
    font-weight: 300;
}

.presentacion_contenido_texto_ayuda{
    font-size: .75rem;
    color: var(--color-hover);
}

.presentacion_contenido_subtitulo{
    color: var(--color-hover);
    font-size: 1.5rem;
    font-weight: 700;
}

.presentacion_contenido_texto{
    font-size: 1rem;
    color: var(--color-hover);
    font-weight: 400;
}

/* .presentacion_enlaces{
    font-size: 1rem;
    color: var(--color-hover);
    font-weight: 400;
} */

.input{
    margin: 1rem;
    border-radius: 8px;
    border: 5px solid var(--color-secundario);
    font-size: 2rem;
    font-weight: 400;
    height: 20%;
}

.contenedor_warning{

    display: flex;
    padding: 1rem;
    gap: 5px;
    align-items: center;
}

.presentacion_enlaces{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 30px;
    padding: 1rem;
    
}

.presentacion_enlaces_subtitulo{
    font-size: 1.5rem;
    font-weight: 400;
}

.presentacion_enlaces_link{
    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion_enlaces_link:hover{
    background-color: var(--color-hover);
}

.presentacion_imagen{
    width: 50%;
}

.contenedor_encriptado{
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2rem;
    border-radius: 9px;
    width: 50%;
    height: 28rem;

}

.footer{
    text-align: center;
    padding: 34px ;
    background-color: var(--color-terciario);
    
    font-size: 1.5rem;
    font-weight: 400;
}

/* @media (max-width: 1200px ){
    .header{
        padding: 5%;
    }
    .header_menu{
        justify-content: center;
    }

    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .presentacion_contenido{
        width: 100%;

    }
    

} */